/*
This file is part of the eskimo project referenced at www.eskimo.sh. The licensing information below apply just as
well to this individual file than to the Eskimo Project as a whole.

Copyright 2019 - 2023 eskimo.sh / https://www.eskimo.sh - All rights reserved.
Author : eskimo.sh / https://www.eskimo.sh

Eskimo is available under a dual licensing model : commercial and GNU AGPL.
If you did not acquire a commercial licence for Eskimo, you can still use it and consider it free software under the
terms of the GNU Affero Public License. You can redistribute it and/or modify it under the terms of the GNU Affero
Public License  as published by the Free Software Foundation, either version 3 of the License, or (at your option)
any later version.
Compliance to each and every aspect of the GNU Affero Public License is mandatory for users who did no acquire a
commercial license.

Eskimo is distributed as a free software under GNU AGPL in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Affero Public License for more details.

You should have received a copy of the GNU Affero Public License along with Eskimo. If not,
see <https://www.gnu.org/licenses/> or write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA, 02110-1301 USA.

You can be released from the requirements of the license by purchasing a commercial license. Buying such a
commercial license is mandatory as soon as :
- you develop activities involving Eskimo without disclosing the source code of your own product, software,
  platform, use cases or scripts.
- you deploy eskimo as part of a commercial product, platform or software.
For more information, please contact eskimo.sh at https://www.eskimo.sh

The above copyright notice and this licensing notice shall be included in all copies or substantial portions of the
Software.
*/


@charset "UTF-8";
:root{
    --ct-compact-menu-height-min: 1700px;
    --ct-box-shadow:0px 0px 35px 0px rgba(154, 161, 171, 0.15);
    --ct-box-shadow-sm:0 .125rem .25rem rgba(0, 0, 0, 0.075);
    --ct-box-shadow-lg:0 0 45px 0 rgba(0, 0, 0, 0.12);
    --ct-box-shadow-inset:inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --ct-component-active-color:#fff;
    --ct-component-active-bg:#727cf5;
    --ct-text-muted:#8a969c;
    --ct-blockquote-footer-color:#8a969c;
    --ct-mark-bg:#fcf8e3;
    --ct-border-color:var(--ct-gray-300);
    --ct-form-text-color:var(--ct-text-muted);
    --ct-input-bg:#fff;
    --ct-input-disabled-bg:#eef2f7;
    --ct-input-color:#6c757d;
    --ct-input-border-color:#dee2e6;
    --ct-input-box-shadow:var(--ct-box-shadow-inset);
    --ct-input-focus-bg:var(--ct-input-bg);
    --ct-input-focus-border-color:#c8cbcf;
    --ct-input-focus-color:var(--ct-input-color);
    --ct-input-placeholder-color:#a1a9b1;
    --ct-input-plaintext-color:#6c757d;
    --ct-form-check-input-bg:#fff;
    --ct-form-check-input-border:1px solid #ced4da;
    --ct-form-check-input-checked-color:var(--ct-component-active-color);
    --ct-form-check-input-checked-bg-color:var(--ct-component-active-bg);
    --ct-form-check-input-checked-border-color:var(--ct-form-check-input-checked-bg-color);
    --ct-form-check-input-indeterminate-color:var(--ct-component-active-color);
    --ct-form-check-input-indeterminate-bg-color:var(--ct-component-active-bg);
    --ct-form-check-input-indeterminate-border-color:var(--ct-component-active-bg);
    --ct-form-switch-color:#dee2e6;
    --ct-input-group-addon-color:var(--ct-input-color);
    --ct-input-group-addon-bg:#eef2f7;
    --ct-input-group-addon-border-color:#dee2e6;
    --ct-form-select-color:var(--ct-input-color);
    --ct-form-select-bg:var(--ct-input-bg);
    --ct-form-select-disabled-color:#8a969c;
    --ct-form-select-disabled-bg:#eef2f7;
    --ct-form-select-indicator-color:#343a40;
    --ct-form-range-track-bg:#dee2e6;
    --ct-form-range-track-box-shadow:var(--ct-box-shadow-inset);
    --ct-form-range-thumb-box-shadow:0 .1rem .25rem rgba(0, 0, 0, 0.1);
    --ct-form-range-thumb-active-bg:#d5d8fc;
    --ct-form-range-thumb-disabled-bg:#a1a9b1;
    --ct-form-file-button-color:var(--ct-input-color);
    --ct-form-file-button-bg:#eef2f7;
    --ct-form-file-button-hover-bg:#e2e6eb;
    --ct-thumbnail-bg:#fff;
    --ct-thumbnail-border-color:#dee2e6;
    --ct-thumbnail-box-shadow:var(--ct-box-shadow-sm);
    --ct-btn-close-color:#313a46;
    --ct-kbd-color:#fff;
    --ct-kbd-bg:#313a46;
    --ct-bg-leftbar:#fff;
    --ct-menu-item:#cedce4;
    --ct-menu-item-hover:#fff;
    --ct-menu-item-active:#fff;
    --ct-bg-topbar:#fff;
    --ct-bg-topbar-search:#f0f3f8;
    --ct-nav-user-bg-topbar:#fafafd;
    --ct-nav-user-border-topbar:#414d5d;
    --ct-notification-border-color:#eef2f7;
    --ct-notification-bg:#f6f7fb;
    --ct-bg-dark-topbar:#313a46;
    --ct-bg-dark-topbar-search:#3c4655;
    --ct-nav-user-bg-dark-topbar:#3c4655;
    --ct-nav-user-border-dark-topbar:#414d5d;
    --ct-bg-leftbar-gradient:linear-gradient(135deg, #8f75da 0%, #727cf5 60%);
    --ct-bg-topnav:#313a46;
    --ct-boxed-layout-bg:#fff;
    --ct-help-box-light-bg:rgba(255, 255, 255, 0.07);
    --ct-help-box-dark-bg:#727cf5;
    --ct-nav-pills-bg:#eef2f7;
    --ct-custom-accordion-title-color:#313a46;
    --ct-dragula-bg:#f7f9fb;
    --ct-form-wizard-header-bg:#eef2f7;
    --ct-text-title-color:#6c757d;
    --ct-page-title-color:#6c757d;
    --ct-card-loader-bg:#313a46;
    --ct-chat-primary-user-bg:#fef5e4;
    --ct-chat-secondary-user-bg:#f1f3fa;
    --ct-auth-bg:#fff;
    --ct-apex-grid-color:#f9f9fd;
    --ct-hero-bg:linear-gradient(to bottom, #8669ed, #727cf5);
    --ct-display-dark:block;
    --ct-display-light:none
}
:root .gantt,:root .table,:root .table-bordered{
    --ct-table-striped-color:#6c757d;
    --ct-table-striped-bg-custom:#f6f7fb;
    --ct-table-active-color:var(--ct-body-color);
    --ct-table-active-bg-custom:#f6f7fb;
    --ct-table-hover-color:var(--ct-body-color);
    --ct-table-hover-bg-custom:#f6f7fb;
    --ct-table-group-separator-color:#edeff1;
    --ct-table-caption-color:var(--ct-text-muted)
}
:root .daterangepicker,:root .dropdown-menu,:root .ql-toolbar,:root .select2-dropdown,:root .tt-menu{
    --ct-dropdown-padding-x: 0.25rem;
    --ct-dropdown-padding-y: 0.25rem;
    --ct-dropdown-color:#6c757d;
    --ct-dropdown-bg:#fff;
    --ct-dropdown-border-color:#c7cbe0;
    --ct-dropdown-divider-bg:#e7ebf0;
    --ct-dropdown-box-shadow:var(--ct-box-shadow);
    --ct-dropdown-link-color:#6c757d;
    --ct-dropdown-link-hover-color:#2c343f;
    --ct-dropdown-link-hover-bg:#f6f7fb;
    --ct-dropdown-link-active-color:#313a46;
    --ct-dropdown-link-active-bg:#f2f5f9;
    --ct-dropdown-link-disabled-color:#8a969c
}
:root .daterangepicker,:root .dropdown-menu-dark,:root .ql-toolbar,:root .select2-dropdown{
    --ct-dropdown-dark-color:#dee2e6;
    --ct-dropdown-dark-bg:#343a40;
    --ct-dropdown-dark-border-color:var(--ct-dropdown-border-color);
    --ct-dropdown-dark-divider-bg:var(--ct-dropdown-divider-bg);
    --ct-dropdown-dark-link-color:var(--ct-dropdown-dark-color);
    --ct-dropdown-dark-link-hover-color:#fff;
    --ct-dropdown-dark-link-hover-bg:rgba(255, 255, 255, 0.15);
    --ct-dropdown-dark-link-active-color:var(--ct-dropdown-link-active-color);
    --ct-dropdown-dark-link-active-bg:var(--ct-dropdown-link-active-bg);
    --ct-dropdown-dark-link-disabled-color:#a1a9b1;
    --ct-dropdown-dark-header-color:#a1a9b1
}
:root .nav{
    --ct-nav-link-disabled-color:#8a969c;
    --ct-nav-tabs-border-color:#dee2e6;
    --ct-nav-tabs-link-hover-border-color:#eef2f7 #eef2f7 var(--ct-nav-tabs-border-color);
    --ct-nav-tabs-link-active-color:#565e64;
    --ct-nav-tabs-link-active-bg:#eee;
    --ct-nav-tabs-link-active-border-color:#dee2e6 #dee2e6 var(--ct-nav-tabs-link-active-bg)
}
:root .navbar{
    --ct-navbar-light-color:#676f77;
    --ct-navbar-light-hover-color:#343a40;
    --ct-navbar-light-active-color:rgba(0, 0, 0, 0.9);
    --ct-navbar-light-disabled-color:#a1a9b1
}
:root .navbar-dark{
    --ct-navbar-dark-color:rgba(255, 255, 255, 0.55);
    --ct-navbar-dark-hover-color:rgba(255, 255, 255, 0.75);
    --ct-navbar-dark-active-color:#fff;
    --ct-navbar-dark-disabled-color:rgba(255, 255, 255, 0.25);
    --ct-navbar-dark-toggler-border-color:rgba(255, 255, 255, 0.1)
}
:root .card,:root .card-header{
    --ct-card-border-color:#dee2e6;
    --ct-card-box-shadow:var(--ct-box-shadow);
    --ct-card-cap-bg:#fff;
    --ct-card-bg:#fff
}
:root .accordion{
    --ct-accordion-color:var(--ct-body-color);
    --ct-accordion-border-color:rgba(0, 0, 0, 0.125);
    --ct-accordion-button-active-bg:#f1f2fe;
    --ct-accordion-button-active-color:#6770dd;
    --ct-accordion-button-focus-border-color:var(--ct-input-focus-border-color);
    --ct-accordion-button-focus-box-shadow:inset 0 -1px 0 var(--ct-accordion-border-color) 0 0 0 0.15rem rgba(114, 124, 245, 0.25)
}
:root .pagination{
    --ct-pagination-color:#313a46;
    --ct-pagination-bg:#fff;
    --ct-pagination-border-color:#dee2e6;
    --ct-pagination-focus-color:#6169d0;
    --ct-pagination-focus-bg:#eef2f7;
    --ct-pagination-focus-box-shadow:0 0 0 0.15rem rgba(114, 124, 245, 0.25);
    --ct-pagination-hover-color:#313a46;
    --ct-pagination-hover-bg:#eef2f7;
    --ct-pagination-hover-border-color:#dee2e6;
    --ct-pagination-disabled-color:#8a969c;
    --ct-pagination-disabled-bg:#fff;
    --ct-pagination-disabled-border-color:#dee2e6
}
:root .gantt,:root .irs,:root .progress{
    --ct-progress-bg:#eef2f7;
    --ct-progress-box-shadow:var(--ct-box-shadow-inset);
    --ct-progress-bar-color:#fff;
    --ct-progress-bar-bg:#727cf5
}
:root .list-group{
    --ct-list-group-color:#313a46;
    --ct-list-group-bg:#fff;
    --ct-list-group-border-color:#e5e8eb;
    --ct-list-group-hover-bg:#f6f7fb;
    --ct-list-group-disabled-color:#6c757d;
    --ct-list-group-disabled-bg:#f9f9fc;
    --ct-list-group-action-color:#6c757d;
    --ct-list-group-action-active-color:#6c757d;
    --ct-list-group-action-active-bg:#eef2f7
}
:root .toast{
    --ct-toast-background-color:rgba(255, 255, 255, 0.85);
    --ct-toast-border-color:rgba(49, 58, 70, 0.1);
    --ct-toast-header-background-color:rgba(255, 255, 255, 0.85);
    --ct-toast-header-border-color:rgba(49, 58, 70, 0.05)
}
:root .modal,:root .modal-backdrop,:root .offcanvas,:root .offcanvas-backdrop{
    --ct-modal-content-bg:#fff;
    --ct-modal-content-box-shadow-xs:var(--ct-box-shadow-sm);
    --ct-modal-content-box-shadow-sm-up:var(--ct-box-shadow);
    --ct-modal-backdrop-bg:#313a46;
    --ct-modal-header-border-color:#dee2e6;
    --ct-modal-footer-border-color:#dee2e6
}
:root .offcanvas,:root .offcanvas-lg,:root .offcanvas-md,:root .offcanvas-sm,:root .offcanvas-xl,:root .offcanvas-xxl{
    --ct-offcanvas-bg:#fff;
    --ct-offcanvas-border-color:transparent
}
:root .tooltip{
    --ct-tooltip-color:#fff;
    --ct-tooltip-bg:#000
}
:root .popover{
    --ct-popover-bg:#fff;
    --ct-popover-border-color:#dee2e6;
    --ct-popover-header-bg:#f6f7fb;
    --ct-popover-body-color:#6c757d;
    --ct-popover-arrow-color:#fff;
    --ct-popover-arrow-outer-color:#ced4da
}
html[data-sidenav-color=dark]{
    --ct-bg-leftbar:#313a46;
    --ct-dark-menu-item:#93a1b2;
    --ct-dark-menu-item-hover:#ccdef4;
    --ct-dark-menu-item-active:#fff
}
html[data-sidenav-color=default]{
    --ct-menu-item:#cedce4;
    --ct-menu-item-hover:#fff;
    --ct-menu-item-active:#fff
}
[data-theme=dark],html[data-theme=dark]{
    --ct-gray-100:#404954;
    --ct-gray-200:#37404a;
    --ct-gray-300:#464f5b;
    --ct-gray-400:#8391a2;
    --ct-gray-500:#aab8c5;
    --ct-gray-600:#ced4da;
    --ct-gray-700:#dee2e6;
    --ct-gray-800:#e3eaef;
    --ct-gray-900:#f1f1f1;
    --ct-body-bg:#343a40;
    --ct-body-color:#aab8c5;
    --ct-light:#404954;
    --ct-light-rgb:64,73,84;
    --ct-dark:#f1f1f1;
    --ct-dark-rgb:241,241,241;
    --ct-border-color:#464f5b;
    --ct-box-shadow:0px 0px 35px 0px rgba(49, 57, 66, 0.5);
    --ct-box-shadow-sm:0 .125rem .25rem rgba(0, 0, 0, 0.075);
    --ct-box-shadow-lg:0 0 45px 0 rgba(0, 0, 0, 0.12);
    --ct-box-shadow-inset:inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --ct-component-active-color:#fff;
    --ct-component-active-bg:#727cf5;
    --ct-text-muted:#8391a2;
    --ct-blockquote-footer-color:#ced4da;
    --ct-mark-bg:#fcf8e3;
    --ct-form-text-color:var(--ct-text-muted);
    --ct-input-bg:#404954;
    --ct-input-disabled-bg:#37404a;
    --ct-input-color:#e3eaef;
    --ct-input-border-color:#4a525d;
    --ct-input-box-shadow:var(--ct-box-shadow-inset);
    --ct-input-focus-bg:#464f5b;
    --ct-input-focus-border-color:#555f6b;
    --ct-input-focus-color:var(--ct-input-color);
    --ct-input-placeholder-color:#8391a2;
    --ct-input-plaintext-color:#6c757d;
    --ct-form-check-input-bg:transparent;
    --ct-form-check-input-border:1px solid #8391a2;
    --ct-form-check-input-checked-color:var(--ct-component-active-color);
    --ct-form-check-input-checked-bg-color:var(--ct-component-active-bg);
    --ct-form-check-input-checked-border-color:var(--ct-form-check-input-checked-bg-color);
    --ct-form-check-input-indeterminate-color:var(--ct-component-active-color);
    --ct-form-check-input-indeterminate-bg-color:var(--ct-component-active-bg);
    --ct-form-check-input-indeterminate-border-color:var(--ct-component-active-bg);
    --ct-form-switch-color:tiny-color(#464f5b, 6%);
    --ct-input-group-addon-color:var(--ct-input-color);
    --ct-input-group-addon-bg:#48515d;
    --ct-input-group-addon-border-color:var(--ct-input-border-color);
    --ct-form-select-color:var(--ct-input-color);
    --ct-form-select-bg:var(--ct-input-bg);
    --ct-form-select-disabled-color:#ced4da;
    --ct-form-select-disabled-bg:#37404a;
    --ct-form-select-indicator-color:#e3eaef;
    --ct-form-range-track-bg:#464f5b;
    --ct-form-range-track-box-shadow:inset 0 .25rem .25rem rgba(0, 0, 0, 0.1);
    --ct-form-range-thumb-box-shadow:0 .1rem .25rem rgba(0, 0, 0, 0.1);
    --ct-form-range-thumb-active-bg:#d5d8fc;
    --ct-form-range-thumb-disabled-bg:#aab8c5;
    --ct-form-file-button-color:var(--ct-input-color);
    --ct-form-file-button-bg:#48515d;
    --ct-form-file-button-hover-bg:#434b56;
    --ct-thumbnail-bg:#464f5b;
    --ct-thumbnail-border-color:#464f5b;
    --ct-thumbnail-box-shadow:var(--ct-box-shadow-sm);
    --ct-btn-close-color:#e3eaef;
    --ct-kbd-color:#fff;
    --ct-kbd-bg:#f1f1f1;
    --ct-pre-color:#aab8c5;
    --ct-bg-leftbar:#3a444e;
    --ct-menu-item:#cedce4;
    --ct-menu-item-hover:#fff;
    --ct-menu-item-active:#fff;
    --ct-bg-topbar:#3a444e;
    --ct-bg-topbar-search:#464f5b;
    --ct-nav-user-bg-topbar:#464f5b;
    --ct-nav-user-border-topbar:#404954;
    --ct-notification-border-color:#464f5b;
    --ct-notification-bg:#464f5b;
    --ct-bg-dark-topbar:#8f75da;
    --ct-bg-dark-topbar-search:rgba(255, 255, 255, 0.1);
    --ct-nav-user-bg-dark-topbar:rgba(255, 255, 255, 0.1);
    --ct-nav-user-border-dark-topbar:rgba(255, 255, 255, 0.15);
    --ct-bg-leftbar-gradient:linear-gradient(135deg, #8f75da 0, #727cf5 60%);
    --ct-bg-topnav:linear-gradient(to bottom, #8f75da, #727cf5);
    --ct-boxed-layout-bg:#3e4853;
    --ct-help-box-light-bg:rgba(255, 255, 255, 0.1);
    --ct-help-box-dark-bg:#727cf5;
    --ct-nav-pills-bg:#404954;
    --ct-custom-accordion-title-color:#8391a2;
    --ct-dragula-bg:#404954;
    --ct-form-wizard-header-bg:#404954;
    --ct-text-title-color:#fff;
    --ct-page-title-color:#fff;
    --ct-card-loader-bg:#f1f1f1;
    --ct-chat-primary-user-bg:#404954;
    --ct-chat-secondary-user-bg:#404954;
    --ct-auth-bg:#404954;
    --ct-apex-grid-color:#404954;
    --ct-hero-bg:linear-gradient(to bottom, #697ded, #5e30c1);
    --ct-display-dark:none;
    --ct-display-light:block
}
[data-theme=dark] .gantt,[data-theme=dark] .table,[data-theme=dark] .table-bordered,html[data-theme=dark] .gantt,html[data-theme=dark] .table,html[data-theme=dark] .table-bordered{
    --ct-table-striped-color:#aab8c5;
    --ct-table-striped-bg:rgba(64, 73, 84, 0.8);
    --ct-table-active-color:var(--ct-body-color);
    --ct-table-active-bg:#404954;
    --ct-table-hover-color:var(--ct-body-color);
    --ct-table-hover-bg-custom:#404954;
    --ct-table-hover-bg:#404954;
    --ct-table-group-separator-color:#515c69;
    --ct-table-caption-color:var(--ct-text-muted)
}
[data-theme=dark] .daterangepicker,[data-theme=dark] .dropdown-menu,[data-theme=dark] .ql-toolbar,[data-theme=dark] .select2-dropdown,[data-theme=dark] .tt-menu,html[data-theme=dark] .daterangepicker,html[data-theme=dark] .dropdown-menu,html[data-theme=dark] .ql-toolbar,html[data-theme=dark] .select2-dropdown,html[data-theme=dark] .tt-menu{
    --ct-dropdown-color:#aab8c5;
    --ct-dropdown-bg:#3b444e;
    --ct-dropdown-border-color:#434b55;
    --ct-dropdown-divider-bg:#4d5662;
    --ct-dropdown-box-shadow:var(--ct-box-shadow);
    --ct-dropdown-link-color:#aab8c5;
    --ct-dropdown-link-hover-color:#d9d9d9;
    --ct-dropdown-link-hover-bg:#48515d;
    --ct-dropdown-link-active-color:#fff;
    --ct-dropdown-link-active-bg:#4a535e;
    --ct-dropdown-link-disabled-color:#ced4da
}
[data-theme=dark] .daterangepicker,[data-theme=dark] .dropdown-menu-dark,[data-theme=dark] .ql-toolbar,[data-theme=dark] .select2-dropdown,html[data-theme=dark] .daterangepicker,html[data-theme=dark] .dropdown-menu-dark,html[data-theme=dark] .ql-toolbar,html[data-theme=dark] .select2-dropdown{
    --ct-dropdown-dark-color:#464f5b;
    --ct-dropdown-dark-bg:#e3eaef;
    --ct-dropdown-dark-border-color:var(--ct-dropdown-border-color);
    --ct-dropdown-dark-divider-bg:var(--ct-dropdown-divider-bg);
    --ct-dropdown-dark-link-color:var(--ct-dropdown-dark-color);
    --ct-dropdown-dark-link-hover-color:#fff;
    --ct-dropdown-dark-link-hover-bg:rgba(255, 255, 255, 0.15);
    --ct-dropdown-dark-link-active-color:var(--ct-dropdown-link-active-color);
    --ct-dropdown-dark-link-active-bg:var(--ct-dropdown-link-active-bg);
    --ct-dropdown-dark-link-disabled-color:#aab8c5;
    --ct-dropdown-dark-header-color:#aab8c5
}
[data-theme=dark] .nav,html[data-theme=dark] .nav{
    --ct-nav-link-disabled-color:#ced4da;
    --ct-nav-tabs-border-color:#464f5b;
    --ct-nav-tabs-link-hover-border-color:#37404a #37404a var(--ct-nav-tabs-border-color);
    --ct-nav-tabs-link-active-color:#e3eaef;
    --ct-nav-tabs-link-active-bg:#4a525d;
    --ct-nav-tabs-link-active-border-color:#464f5b #464f5b var(--ct-nav-tabs-link-active-bg)
}
[data-theme=dark] .navbar,html[data-theme=dark] .navbar{
    --ct-navbar-light-color:#d3d7db;
    --ct-navbar-light-hover-color:#e3eaef;
    --ct-navbar-light-active-color:rgba(255, 255, 255, 0.9);
    --ct-navbar-light-disabled-color:#aab8c5
}
[data-theme=dark] .navbar-dark,html[data-theme=dark] .navbar-dark{
    --ct-navbar-dark-color:rgba(255, 255, 255, 0.55);
    --ct-navbar-dark-hover-color:rgba(255, 255, 255, 0.75);
    --ct-navbar-dark-active-color:#fff;
    --ct-navbar-dark-disabled-color:rgba(255, 255, 255, 0.25);
    --ct-navbar-dark-toggler-border-color:rgba(255, 255, 255, 0.1)
}
[data-theme=dark] .card,[data-theme=dark] .card-header,html[data-theme=dark] .card,html[data-theme=dark] .card-header{
    --ct-card-border-color:rgba(0, 0, 0, 0.125);
    --ct-card-box-shadow:var(--ct-box-shadow);
    --ct-card-cap-bg:#37404a;
    --ct-card-bg:#37404a
}
[data-theme=dark] .accordion,html[data-theme=dark] .accordion{
    --ct-accordion-color:var(--ct-body-color);
    --ct-accordion-border-color:var(--ct-border-color);
    --ct-accordion-button-active-bg:rgba(114, 124, 245, 0.05);
    --ct-accordion-button-active-color:#6770dd;
    --ct-accordion-button-focus-border-color:var(--ct-input-focus-border-color);
    --ct-accordion-button-focus-box-shadow:inset 0 -1px 0 var(--ct-accordion-border-color) 0 0 0 0.15rem rgba(114, 124, 245, 0.25)
}
[data-theme=dark] .pagination,html[data-theme=dark] .pagination{
    --ct-pagination-color:#8391a2;
    --ct-pagination-bg:#3f4851;
    --ct-pagination-border-color:#464f5b;
    --ct-pagination-focus-color:#6169d0;
    --ct-pagination-focus-bg:#37404a;
    --ct-pagination-focus-box-shadow:0 0 0 0.15rem rgba(114, 124, 245, 0.25);
    --ct-pagination-hover-color:#f1f1f1;
    --ct-pagination-hover-bg:#474f58;
    --ct-pagination-hover-border-color:#464f5b;
    --ct-pagination-disabled-color:#8391a2;
    --ct-pagination-disabled-bg:#4a555f;
    --ct-pagination-disabled-border-color:#4a555f
}
[data-theme=dark] .gantt,[data-theme=dark] .irs,[data-theme=dark] .progress,html[data-theme=dark] .gantt,html[data-theme=dark] .irs,html[data-theme=dark] .progress{
    --ct-progress-bg:#464f5b;
    --ct-progress-box-shadow:var(--ct-box-shadow-inset);
    --ct-progress-bar-color:#fff;
    --ct-progress-bar-bg:#727cf5
}
[data-theme=dark] .list-group,html[data-theme=dark] .list-group{
    --ct-list-group-color:#f1f1f1;
    --ct-list-group-bg:var(--ct-card-bg);
    --ct-list-group-border-color:#4d5662;
    --ct-list-group-hover-bg:#404954;
    --ct-list-group-disabled-color:#8391a2;
    --ct-list-group-disabled-bg:#404954;
    --ct-list-group-action-color:#aab8c5;
    --ct-list-group-action-active-color:#dee2e6;
    --ct-list-group-action-active-bg:#404954
}
[data-theme=dark] .toast,html[data-theme=dark] .toast{
    --ct-toast-background-color:#404954;
    --ct-toast-border-color:rgba(241, 241, 241, 0.12);
    --ct-toast-header-background-color:rgba(64, 73, 84, 0.2);
    --ct-toast-header-border-color:rgba(241, 241, 241, 0.05)
}
[data-theme=dark] .modal,[data-theme=dark] .modal-backdrop,[data-theme=dark] .offcanvas,[data-theme=dark] .offcanvas-backdrop,html[data-theme=dark] .modal,html[data-theme=dark] .modal-backdrop,html[data-theme=dark] .offcanvas,html[data-theme=dark] .offcanvas-backdrop{
    --ct-modal-content-bg:#3b444e;
    --ct-modal-content-box-shadow-xs:var(--ct-box-shadow-sm);
    --ct-modal-content-box-shadow-sm-up:var(--ct-box-shadow);
    --ct-modal-backdrop-bg:#aab8c5;
    --ct-modal-header-border-color:#515c69;
    --ct-modal-footer-border-color:#515c69
}
[data-theme=dark] .offcanvas,[data-theme=dark] .offcanvas-lg,[data-theme=dark] .offcanvas-md,[data-theme=dark] .offcanvas-sm,[data-theme=dark] .offcanvas-xl,[data-theme=dark] .offcanvas-xxl,html[data-theme=dark] .offcanvas,html[data-theme=dark] .offcanvas-lg,html[data-theme=dark] .offcanvas-md,html[data-theme=dark] .offcanvas-sm,html[data-theme=dark] .offcanvas-xl,html[data-theme=dark] .offcanvas-xxl{
    --ct-offcanvas-bg:#3b444e;
    --ct-offcanvas-border-color:transparent
}
[data-theme=dark] .tooltip,html[data-theme=dark] .tooltip{
    --ct-tooltip-color:#37404a;
    --ct-tooltip-bg:#dee2e6
}
[data-theme=dark] .popover,html[data-theme=dark] .popover{
    --ct-popover-bg:#37404a;
    --ct-popover-border-color:#464f5b;
    --ct-popover-header-bg:#3c4651;
    --ct-popover-header-color:#dee2e6;
    --ct-popover-body-color:#dee2e6;
    --ct-popover-arrow-color:#37404a;
    --ct-popover-arrow-outer-color:#464f5b
}
html[data-theme=dark][data-layout-mode=detached]{
    --ct-menu-item:#8391a2;
    --ct-menu-item-hover:#727cf5;
    --ct-menu-item-active:#ffffff
}
html[data-sidenav-color=light]{
    --ct-bg-leftbar:#fff;
    --ct-menu-item:#6c757d;
    --ct-menu-item-hover:#727cf5;
    --ct-menu-item-active:#ffffff
}

