/*
This file is part of the eskimo project referenced at www.eskimo.sh. The licensing information below apply just as
well to this individual file than to the Eskimo Project as a whole.

Copyright 2019 eskimo.sh / https://www.eskimo.sh - All rights reserved.
Author : eskimo.sh / https://www.eskimo.sh

Eskimo is available under a dual licensing model : commercial and GNU AGPL.
If you did not acquire a commercial licence for Eskimo, you can still use it and consider it free software under the
terms of the GNU Affero Public License. You can redistribute it and/or modify it under the terms of the GNU Affero
Public License  as published by the Free Software Foundation, either version 3 of the License, or (at your option)
any later version.
Compliance to each and every aspect of the GNU Affero Public License is mandatory for users who did no acquire a
commercial license.

Eskimo is distributed as a free software under GNU AGPL in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Affero Public License for more details.

You should have received a copy of the GNU Affero Public License along with Eskimo. If not,
see <https://www.gnu.org/licenses/> or write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA, 02110-1301 USA.

You can be released from the requirements of the license by purchasing a commercial license. Buying such a
commercial license is mandatory as soon as :
- you develop activities involving Eskimo without disclosing the source code of your own product, software,
  platform, use cases or scripts.
- you deploy eskimo as part of a commercial product, platform or software.
For more information, please contact eskimo.sh at https://www.eskimo.sh

The above copyright notice and this licensing notice shall be included in all copies or substantial portions of the
Software.
*/

/*################ Theme Content Section Style Start Here ############################*/

body.empty-page {
    width: 100%;
    flex-grow: 1;;
    background-color: #373a3c;
}

.eskimo-panel-heading,
.panel-default .eskimo-panel-heading {
    background: #384b5f;
    color: #FFFFFF;
    font-weight: bold;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}


/** This was an attempt to have scrollable menu (vertically)
But it breaks  the menu entry title overlay
.left-panel-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 17px;
    box-sizing: content-box;
}
#hoe-left-panel[hoe-position-type="absolute"] {
    overflow-y: hidden;
    overflow-x: visible;
}
 */

.menu-scroll-button {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 25px;
    background: inherit;
    background: #384b5f;
    color: #ced4d7;
    border-right: 1px solid #455769;
    z-index: 10;
}

.menu-scroll-button:hover {
    color: #FFF;
    background: #2c3e50;
}
.left-panel-menu-container {
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 1;
}
.left-panel-container {
    height: 100%
}

#menu-scroll-up {
    top: 0px;
    border-bottom: 1px solid #455769;
}
#menu-scroll-down {
    border-top: 1px solid #455769;
    bottom: 50px;
}

.last-menu,
#hoe-left-panel .last-menu {
    padding-bottom: 40px;
}

.disabled{
    pointer-events: none;
    cursor: default;
}
.invisible {
    visibility: hidden;
}

.blinking-status {
    animation: blink-status 1s ease-in-out infinite;
    opacity: 1;
}

@keyframes blink-status {
    0% {
        opacity: 0.2;
    }
    25% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;;
    }
    75% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.2;
    }
}

.consoles-header {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #AAAAAA;
}
.file-managers-header {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #AAAAAA;
}
#file-managers-tab-list {
    padding-bottom: 8px;
}
.file-manager-folder-menu {
    padding-top: 8px;
    padding-bottom: 8px;
}
#file-viewer-modal-dialog {
    width: 1000px;
    max-height: 100%;
    max-width: 100%;
}
#file-viewer-body {
    max-height: 700px;
    overflow: auto;
    background-color: #f5f5f5;
}

#file-viewer-body pre {
    background: transparent;
    border: 0px none;
    overflow: visible;
}
.processing-error {
    color: red;
}

.node-config-element {
    border: 1px solid #BBBBBB;
    padding-top: 10px;
    border-radius: 10px;
}
.node-config-element-wrapper {
    padding-bottom: 5px;
}

.status-node-carousel {
    margin-bottom: 15px;
}

.font-weight-bold {
    font-weight: bold;
}
.service-status-action {
    font-size: smaller;
}
.service-status-action-journal {
    color: lightblue;
}
.service-status-action-stop {
    color: red;
}
.service-status-action-start {
    color: lightgreen;
}
.service-status-action-reinstall {
    color: violet;
}
.service-status-action-restart {
    color: lightblue;
}

.service-status-error {
    color: red;
}

.status-table {
    margin-bottom: 15px;
}

.notifications-clear-link {
    color: #333333;
}

.messaging-toolbar {
    margin-bottom: 12px;
}

#progress-bar-pending-wrapper {
    margin-top: 6px;
}

#progress-bar-inner {
    width: 100%;
}

#nodeContainer-nodes {
    position: relative;
}

#nodeContainer-status {
    position: relative;
}
#status-node-container {
    overflow-x: auto;
}

#operations-command-modal-dialog {
    width: 800px;
    max-width: 100%;
}
#operations-command-body {
    max-height: 700px;
}

#services-selection-modal-dialog {
    width: 850px;
    max-width: 100%;
}

#nodeContainer-setup {
    position: relative;
}

.radio + .radio, .checkbox + .checkbox {
    margin-top: inherit;
}
.no-padding {
    margin-top: 0px;
    margin-bottom: 0px;
}
html, body {
    height: 100%;
}
li.disabled a .menu-text {
    color: #888899;
}
.dashboardTitle {
    color: #ced4d7;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    overflow-y: auto;
}
.table > thead > tr > td.status-node-cell,
.table > tbody > tr > td.status-node-cell,
.table > tfoot > tr > td.status-node-cell,
.status-node-cell {
    padding: 2px 5px 2px 5px;
    text-align: center;
    vertical-align: middle;
}
.table > thead > tr > td.status-node-cell {
    background-color: #F2F2F2;
    font-weight: bold;
}
.disabled-label {
    color: #FF9999;
}
.forced-label {
    color: #8888EE;
}
.status-node-image {
    width: 20px;
}

.status-node-node-rep {
    border-radius: 20px;
    background: #384b5f;
    padding: 20px;
    color: #EEEEEE;
}

.node-status-carousel-table {
    width: 100%;
}
.nodes-status-carousel-status {
    width: 100%;
    text-align: left;
}
.nodes-status-carousel-actions {
    width: 30px;
    text-align: right;
    padding-left: 5px;
    visibility: hidden;
}
.node-status-carousel-table:hover tr td.nodes-status-carousel-actions {
    visibility: visible;
}

.node-status-carousel-table:hover tr td.nodes-status-carousel-actions span.invisible {
    visibility: hidden;
}

.node-status-table {
    width: 100%;
    margin-top: 5px;
}
.node-status-table tr td.nodes-status-status {
    width: 100%;
    text-align: center;
}
.node-status-table tr td.nodes-status-actions {
    width: 18px;
    min-width: 18px;
    visibility: hidden;
}
.node-status-table:hover tr td.nodes-status-actions {
    visibility: visible;
}

.node-status-table:hover tr td.nodes-status-actions span.invisible {
    visibility: hidden;
}

#hoeapp-wrapper[hoe-device-type="phone"] #settingsSelector {
    top: 6px;
}
.glyphicon.glyphicon-one-fine-dot:before {
    content: "\25cf";
    font-size: 1.5em;
}
#main-content {
    margin-left: 230px;
	position:relative;
    height: 100%;
}
.status-node {
    background-color: #384b5f;
    color: #FFFFFF;
    min-width: 250px;
    max-width: 350px;
    min-height: 300px;
}
.node-status-wrapper {
    min-width: 250px;
    margin: 10px;
}
.status-node-content {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.status-node-content h4 {
    margin-top: 5px;
    margin-bottom: 3px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
.content-title {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    padding: 10px 20px;
}
.content-title .main-title {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}
.inner-content-show {
    padding: 20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.inner-content {
    padding: 20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-flow: column;
}
.inner-content-inner {
    position: relative;
    width: 100%;
    display: block;
    flex-grow: 1;
    padding-bottom: 60px;
}
.inner-content-frame-container {
    padding: 0px;
    padding-bottom: 32px;
}
.inner-content-iframe {
    width: 100%;
    height: 100%;
    border: 0px none;
    border-left: 1px solid white;
}
.inner-content-inner-frame {
    padding: 0px;
    border: 0px none;
}
.service-container {
    position: relative;
    height: 100%;
}
.theme-panel .panel-heading {
    border-bottom: 1px solid #e3e3e3;
    padding: 2px 10px;
 /*   text-align: center;*/
}
.theme-panel .panel-heading h5 {
    color: black;
}
.panel-default > a > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

/*
.theme-panel .panel-heading .panel-title {
    font-size: 18px;
}
*/
.feature-box {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    margin-bottom: 15px;
    min-height: 20px;
    padding: 19px;
    text-align: center;
}
.feature-box:hover {
    background-color: #101525;
    border: 1px solid #e3e3e3;
    color: #959fae;
}
.feature-icon i {
    font-size: 50px;
}
.feature-box .h4,
.feature-box .h5,
.feature-box .h6,
.feature-box h4,
.feature-box h5,
.feature-box h6 {
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 16px;
}
.hoe-minimized-lpanel #main-content {
    margin-left: 50px;
}
#hoeapp-container[hoe-lpanel-effect="shrink"] #main-content{
	margin-left: 230px;
}
#hoeapp-container[hoe-lpanel-effect="shrink"].hoe-minimized-lpanel #main-content{
	margin-left: 50px;
}
#hoeapp-container[hoe-lpanel-effect="overlay"] #main-content{
	 margin-left: 50px;
}
#hoeapp-container[hoe-lpanel-effect="overlay"].hoe-minimized-lpanel #main-content{
	 margin-left: 50px;
}
#hoeapp-container[hoe-lpanel-effect="push"] #main-content{
	margin-left: 230px;
	margin-right: -230px;
}
#hoeapp-container[hoe-lpanel-effect="push"].hoe-minimized-lpanel #main-content{
	 margin-left: 50px;
     margin-right: 0px;
}

.control-logo-logo {
    width: 20px;
    height: 20px;
}

.radio label.control-logo, .checkbox label.control-logo,
.control-logo {
    padding-bottom: 8px;
    padding-left: 4px;
}

.nodes-config-logo {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.nodes-config-entry {
    padding-bottom: 3px;
}

.server-icon {
    width: 20px;
    height: 20px;
}
.server-title-icon {
    float: left;
    margin-top: 5px;
}
.server-title-text {
    float: left;
    margin-top: 7px;
}

.status-service-icon-image {
    width: 14px;
    height: 14px;
}
.status-service-icon {
    float: left;
}
.status-service-text {
    padding-top: 1px;
    padding-left: 4px;
    float: left;
}

/*################ Theme Content Section Style Close Here ############################*/

/*################## Style Selector Theme Color Start ###########################*/
#settingsSelector {
    border: 1px solid #e9e9e9;
    background: #FFF;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 230px;
    height: auto;
    top: 5px;
    right: -230px;
    z-index: 9999;
    height: auto;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
#settingsSelector.open {
    background: #FFF none repeat scroll 0 0;
    right: 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.selector-toggle {
    position: relative;
}
.selector-toggle > a {
    border: 1px solid #e9e9e9;
    border-right: 0;
    position: absolute;
    top: -1px;
    left: -35px;
    width: 35px;
    height: 36px;
    display: block;
    cursor: pointer;
    text-align: center;
    border-radius: 4px 0 0 4px;
    background: #FFF;
    color: #9c9c9c;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.selector-toggle > a:before {
    font-family: FontAwesome;
    content: "\f100";
    font-size: 22px;
    position: relative;
    float: left;
    left: 13px;
    line-height: 35px;
}
.open .selector-toggle > a:before {
    font-family: FontAwesome;
    content: "\f101";
    font-size: 22px;
    position: relative;
    float: left;
    left: 13px;
    line-height: 35px;
}
#settingsSelector .tab-content  ul {
    border: 0 none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#settingsSelector .tab-content ul li {
    border-bottom: 0px solid #e9e9e9;
    display: block;
    margin: 0;
    padding: 0px 5px 5px 5px;
    text-align: left;
    width: 100%;
}
#settingsSelector .tab-content ul li p.selector-title {
    border-bottom: 1px solid #e9e9e9;
    color: #9c9c9c;
    font-size: 14px;
    margin: 0;
    padding: 6px;
    text-align: center;
}
#settingsSelector .tab-content > ul > li > .sub-title {
    color: #9c9c9c;
    font-size: 13px;
    line-height: 30px;
    margin: 0;
    padding: 6px 2px;
    position: relative;
    text-align: center;
}
.leftpanel-effect > .checkbox,
.leftpanel-effect > .radio {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0 10px;
    position: relative;
}
#settingsSelector .tab-content li {
    padding: 5px;
}
.setting-option select {
    background-color: #eaeaea;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 3px 10px;
}
@-moz-document url-prefix() {
    .setting-option select {
        background-color: #eaeaea;
        border: 1px solid #ccc;
        border-radius: 2px;
        display: inline-block;
        font: inherit;
        line-height: 1.5em;
        padding: 3px 10px;
        margin: 0;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    .setting-option select.minimal {
        background-image: -webkit-linear-gradient(45deg, transparent 50%, gray 50%), -webkit-linear-gradient(315deg, gray 50%, transparent 50%), -webkit-linear-gradient(left, #ccc, #ccc);
        background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 18px) calc(1em + -1px), calc(100% - 13px) calc(1em + -1px), calc(100% - 2.5em) 4px;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
    }
    .setting-option select.minimal:focus,
    .setting-option select.minimal:active {
        background-image: -webkit-linear-gradient(45deg, gray 50%, transparent 50%), -webkit-linear-gradient(315deg, transparent 50%, gray 50%), -webkit-linear-gradient(left, gray, gray);
        background-image: linear-gradient(45deg, gray 50%, transparent 50%), linear-gradient(135deg, transparent 50%, gray 50%), linear-gradient(to right, gray, gray);
        background-position: calc(100% - 15px) 13px, calc(100% - 20px) 13px, calc(100% - 2.5em) 0.3em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        border-color: #66afe9;
        outline: 0;
    }
}

#theme-color {
    padding: 0px 10px;
    width: 100%;
}
/**/

#theme-color a {
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}
#theme-color a:hover,
#theme-color a:focus {
    text-decoration: none;
}
/*Header Background Color start*/

#theme-color a[hoe-color-type="header-bg1"] {
    background: #70ca63;
}
#theme-color a[hoe-color-type="header-bg2"] {
    background: #3498DB;
}
#theme-color a[hoe-color-type="header-bg3"] {
    background: #485BBD;
}
#theme-color a[hoe-color-type="header-bg4"] {
    background: #e7604a;
}
#theme-color a[hoe-color-type="header-bg5"] {
    background: #333843;
}
#theme-color a[hoe-color-type="header-bg6"] {
    background: #624e89;
}
#theme-color a[hoe-color-type="header-bg7"] {
    background: #FFF;
}
#theme-color a[hoe-color-type="header-bg8"] {
    background: #384b5f;
}
#theme-color a[hoe-color-type="header-bg9"] {
    background: #578ebe;
}
/*Header Background Color Close*/

/*Logo Background Color Start*/

#theme-color a[hoe-color-type="logo-bg1"] {
    background: #70ca63;
}
#theme-color a[hoe-color-type="logo-bg2"] {
    background: #3498DB;
}
#theme-color a[hoe-color-type="logo-bg3"] {
    background: #485BBD;
}
#theme-color a[hoe-color-type="logo-bg4"] {
    background: #e7604a;
}
#theme-color a[hoe-color-type="logo-bg5"] {
    background: #1f1e29;
}
#theme-color a[hoe-color-type="logo-bg6"] {
    background: #624e89;
}
#theme-color a[hoe-color-type="logo-bg7"] {
    background: #FFF;
}
#theme-color a[hoe-color-type="logo-bg8"] {
    background: #2c3e50;
}
#theme-color a[hoe-color-type="logo-bg9"] {
    background: #4884b8;
}
/*Logo Background Color Close*/
/*Left Panel Background Color start*/

#theme-color a[hoe-color-type="lpanel-bg1"] {
    background: #70ca63;
}
#theme-color a[hoe-color-type="lpanel-bg2"] {
    background: #3498DB;
}
#theme-color a[hoe-color-type="lpanel-bg3"] {
    background: #485BBD;
}
#theme-color a[hoe-color-type="lpanel-bg4"] {
    background: #e7604a;
}
#theme-color a[hoe-color-type="lpanel-bg5"] {
    background: #272634;
}
#theme-color a[hoe-color-type="lpanel-bg6"] {
    background: #624e89;
}
#theme-color a[hoe-color-type="lpanel-bg7"] {
    background: #FFF;
}
#theme-color a[hoe-color-type="lpanel-bg8"] {
    background: #384b5f;
}
#theme-color a[hoe-color-type="lpanel-bg9"] {
    background: #578ebe;
}
/*Left Panel Background Color Close*/
/*Logo Background Color with bg1 start*/

#hoe-header[hoe-color-type="logo-bg1"] .hoe-left-header {
    background: #62bc55;
}
#hoe-header[hoe-color-type="logo-bg1"] .hoe-left-header a {
    color: #FFF;
}
#hoe-header[hoe-color-type="logo-bg1"] .hoe-left-header a:hover,
#hoe-header[hoe-color-type="logo-bg1"] .hoe-left-header a:focus {
    color: #FFF;
}
#hoe-header[hoe-color-type="logo-bg1"] .hoe-left-header a i {
    color: #18720b;
}
#hoeapp-wrapper[hoe-device-type="phone"] #hoe-header[hoe-color-type="logo-bg1"] .hoe-left-header .hoe-sidebar-toggle a:after {
    color: #18720b;
    border: 0px solid #18720b;
}
/*Logo Background Color with bg1 Close*/
/*Logo Background Color with bg2 start*/

#hoe-header[hoe-color-type="logo-bg2"] .hoe-left-header {
    background: #278bce ;
}
#hoe-header[hoe-color-type="logo-bg2"] .hoe-left-header a {
    color: #FFF;
}
#hoe-header[hoe-color-type="logo-bg2"] .hoe-left-header a:hover,
#hoe-header[hoe-color-type="logo-bg2"] .hoe-left-header a:focus {
    color: #FFF;
}
#hoe-header[hoe-color-type="logo-bg2"] .hoe-left-header a i {
    color: #00498c;
}
#hoeapp-wrapper[hoe-device-type="phone"] #hoe-header[hoe-color-type="logo-bg2"] .hoe-left-header .hoe-sidebar-toggle a:after {
    color: #00498c;
    border: 0px solid #00498c;
}
/*Logo Background Color with bg2 Close*/

/*Logo Background Color with bg3 start*/

#hoe-header[hoe-color-type="logo-bg3"] .hoe-left-header {
    background: #3c4fb1 ;
}
#hoe-header[hoe-color-type="logo-bg3"] .hoe-left-header a {
    color: #FFF;
}
#hoe-header[hoe-color-type="logo-bg3"] .hoe-left-header a:hover,
#hoe-header[hoe-color-type="logo-bg3"] .hoe-left-header a:focus {
    color: #FFF;
}
#hoe-header[hoe-color-type="logo-bg3"] .hoe-left-header a i {
    color: #021577;
}
#hoeapp-wrapper[hoe-device-type="phone"] #hoe-header[hoe-color-type="logo-bg3"] .hoe-left-header .hoe-sidebar-toggle a:after {
    color: #021577;
    border: 0px solid #021577;
}
/*Logo Background Color with bg3 Close*/

/*Logo Background Color with bg4 start*/

#hoe-header[hoe-color-type="logo-bg4"] .hoe-left-header {
    background: #d95944 ;
}
#hoe-header[hoe-color-type="logo-bg4"] .hoe-left-header a {
    color: #FFF;
}
#hoe-header[hoe-color-type="logo-bg4"] .hoe-left-header a:hover,
#hoe-header[hoe-color-type="logo-bg4"] .hoe-left-header a:focus {
    color: #FFF;
}
#hoe-header[hoe-color-type="logo-bg4"] .hoe-left-header a i {
    color: #b02913;
}
#hoeapp-wrapper[hoe-device-type="phone"] #hoe-header[hoe-color-type="logo-bg4"] .hoe-left-header .hoe-sidebar-toggle a:after {
    color: #b02913;
    border: 0px solid #b02913;
}
/*Logo Background Color with bg4 Close*/

/*Logo Background Color with bg5 start*/

#hoe-header[hoe-color-type="logo-bg5"] .hoe-left-header {
    background: #1f1e29;
}
#hoe-header[hoe-color-type="logo-bg5"] .hoe-left-header a {
    color: #FFF;
}
#hoe-header[hoe-color-type="logo-bg5"] .hoe-left-header a:hover,
#hoe-header[hoe-color-type="logo-bg5"] .hoe-left-header a:focus {
    color: #FFF;
}
#hoe-header[hoe-color-type="logo-bg5"] .hoe-left-header a i {
    color: #ffffff;
}
#hoeapp-wrapper[hoe-device-type="phone"] #hoe-header[hoe-color-type="logo-bg5"] .hoe-left-header .hoe-sidebar-toggle a:after {
    color: #ffffff;
    border: 0px solid #ffffff;
}
/*Logo Background Color with bg5 Close*/

/*Logo Background Color with bg6 start*/

#hoe-header[hoe-color-type="logo-bg6"] .hoe-left-header {
    background: #554378 ;
}
#hoe-header[hoe-color-type="logo-bg6"] .hoe-left-header a {
    color: #FFF;
}
#hoe-header[hoe-color-type="logo-bg6"] .hoe-left-header a:hover,
#hoe-header[hoe-color-type="logo-bg6"] .hoe-left-header a:focus {
    color: #FFF;
}
#hoe-header[hoe-color-type="logo-bg6"] .hoe-left-header a i {
    color: #382a5f;
}
#hoeapp-wrapper[hoe-device-type="phone"] #hoe-header[hoe-color-type="logo-bg6"] .hoe-left-header .hoe-sidebar-toggle a:after {
    color: #382a5f;
    border: 0px solid #382a5f;
}
/*Logo Background Color with bg6 Close*/

/*Logo Background Color with bg7 start*/

#hoe-header[hoe-color-type="logo-bg7"] .hoe-left-header {
    background: #FFF;
}
#hoe-header[hoe-color-type="logo-bg7"] .hoe-left-header a {
    color: #3e3e3e;
}
#hoe-header[hoe-color-type="logo-bg7"] .hoe-left-header a:hover,
#hoe-header[hoe-color-type="logo-bg7"] .hoe-left-header a:focus {
    color: #3e3e3e;
}
#hoe-header[hoe-color-type="logo-bg7"] .hoe-left-header a i {
    color: #3e3e3e;
}
#hoeapp-wrapper[hoe-device-type="phone"] #hoe-header[hoe-color-type="logo-bg7"] .hoe-left-header .hoe-sidebar-toggle a:after {
    color: #3e3e3e;
    border: 0px solid #3e3e3e;
}
/*Logo Background Color with bg7 Close*/

/*Logo Background Color with bg8 start*/

#hoe-header[hoe-color-type="logo-bg8"] .hoe-left-header {
    background: #384b5f;
}
#hoe-header[hoe-color-type="logo-bg8"] .hoe-left-header a {
    color: #FFF;
}
#hoe-header[hoe-color-type="logo-bg8"] .hoe-left-header a:hover,
#hoe-header[hoe-color-type="logo-bg8"] .hoe-left-header a:focus {
    color: #FFF;
}
#hoe-header[hoe-color-type="logo-bg8"] .hoe-left-header a i {
    color: #fff;
}
#hoeapp-wrapper[hoe-device-type="phone"] #hoe-header[hoe-color-type="logo-bg8"] .hoe-left-header .hoe-sidebar-toggle a:after {
    color: #fff;
    border: 0px solid #fff;
}
/*Logo Background Color with bg8 Close*/

/*Logo Background Color with bg9 start*/

#hoe-header[hoe-color-type="logo-bg9"] .hoe-left-header {
    background: #4884b8;
}
#hoe-header[hoe-color-type="logo-bg9"] .hoe-left-header a {
    color: #FFF;
}
#hoe-header[hoe-color-type="logo-bg9"] .hoe-left-header a:hover,
#hoe-header[hoe-color-type="logo-bg9"] .hoe-left-header a:focus {
    color: #FFF;
}
#hoe-header[hoe-color-type="logo-bg9"] .hoe-left-header a i {
    color: #185b96;
}
#hoeapp-wrapper[hoe-device-type="phone"] #hoe-header[hoe-color-type="logo-bg9"] .hoe-left-header .hoe-sidebar-toggle a:after {
    color: #185b96;
    border: 0px solid #185b96;
}
/*Logo Background Color with bg9 Close*/
/*Header color with theme color bg1  Start*/

.hoe-right-header[hoe-color-type="header-bg1"] {
    background: #70ca63;
}
.hoe-right-header[hoe-color-type="header-bg1"] a i {
    color: #18720b;
}
.hoe-right-header[hoe-color-type="header-bg1"] a:hover i {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg1"] .hoe-sidebar-toggle a:after {
    border: 0px solid #96cd69;
    color: #18720b;
}
.hoe-right-header[hoe-color-type="header-bg1"] .hoe-sidebar-toggle a:hover:after {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg1"] li a {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg1"] li a:hover,
.hoe-right-header[hoe-color-type="header-bg1"] li a:focus {
    background: #62bc55;
}
.hoe-right-header[hoe-color-type="header-bg1"] .theme-config a {
    border-left: 1px solid #96cd69;
}
/*Header color with theme color bg1  Close*/

/*Header color with theme color bg2  Close*/

.hoe-right-header[hoe-color-type="header-bg2"] {
    background: #3498db;
}
.hoe-right-header[hoe-color-type="header-bg2"] a i {
    color: #00498c;
}
.hoe-right-header[hoe-color-type="header-bg2"] a:hover i {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg2"] .hoe-sidebar-toggle a:after {
    border: 0px solid #3ea2e5;
    color: #00498c;
}
.hoe-right-header[hoe-color-type="header-bg2"] .hoe-sidebar-toggle a:hover:after {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg2"] li a {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg2"] li a:hover,
.hoe-right-header[hoe-color-type="header-bg2"] li a:focus {
    background: #278bce;
}
.hoe-right-header[hoe-color-type="header-bg2"] .theme-config a {
    border-left: 1px solid #3ea2e5;
}
/*Header color with theme color bg2  Close*/

/*Header color with theme color bg3  Start*/

.hoe-right-header[hoe-color-type="header-bg3"] {
    background: #485bbd;
}
.hoe-right-header[hoe-color-type="header-bg3"] a i {
    color: #021577;
}
.hoe-right-header[hoe-color-type="header-bg3"] a:hover i {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg3"] .hoe-sidebar-toggle a:after {
    border: 0px solid #576acc;
    color: #021577;
}
.hoe-right-header[hoe-color-type="header-bg3"] .hoe-sidebar-toggle a:hover:after {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg3"] li a {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg3"] li a:hover,
.hoe-right-header[hoe-color-type="header-bg3"] li a:focus {
    background: #3c4fb1;
}
.hoe-right-header[hoe-color-type="header-bg3"] .theme-config a {
    border-left: 1px solid #576acc;
}
/*Header color with theme color bg3  Close*/

/*Header color with theme color bg4  Start*/

.hoe-right-header[hoe-color-type="header-bg4"] {
    background: #e7604a;
}
.hoe-right-header[hoe-color-type="header-bg4"] a i {
    color: #b02913;
}
.hoe-right-header[hoe-color-type="header-bg4"] a:hover i {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg4"] .hoe-sidebar-toggle a:after {
    background: transparent;
    border: 0px solid #ed6853;
    color: #b02913;
}
.hoe-right-header[hoe-color-type="header-bg4"] .hoe-sidebar-toggle a:hover:after {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg4"] li a {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg4"] li a:hover,
.hoe-right-header[hoe-color-type="header-bg4"] li a:focus {
    background: #d95944;
}
.hoe-right-header[hoe-color-type="header-bg4"] .theme-config a {
    border-left: 1px solid #ed6853;
}
/*Header color with theme color bg4  Close*/

/*Header color with theme color bg5  Start*/

.hoe-right-header[hoe-color-type="header-bg5"] {
    background: #272634;
}
.hoe-right-header[hoe-color-type="header-bg5"] a i {
    color: #8d8d94;
}
.hoe-right-header[hoe-color-type="header-bg5"] a:hover i {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg5"] .hoe-sidebar-toggle a:after {
    background: transparent;
    border: 0px solid #1f1f2a;
    color: #8d8d94;
}
.hoe-right-header[hoe-color-type="header-bg5"] .hoe-sidebar-toggle a:hover:after {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg5"] li a {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg5"] li a:hover,
.hoe-right-header[hoe-color-type="header-bg5"] li a:focus {
    background: #1f1f2a;
}
.hoe-right-header[hoe-color-type="header-bg5"] .theme-config a {
    border-left: 1px solid #1f1f2a;
}
/*Header color with theme color bg5  Close*/

/*Header color with theme color bg6  Start*/

.hoe-right-header[hoe-color-type="header-bg6"] {
    background: #624e89;
}
.hoe-right-header[hoe-color-type="header-bg6"] a i {
    color: #382a5f;
}
.hoe-right-header[hoe-color-type="header-bg6"] a:hover i {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg6"] .hoe-sidebar-toggle a:after {
    background: transparent;
    border: 0px solid #6b598e;
    color: #382a5f;
}
.hoe-right-header[hoe-color-type="header-bg6"] .hoe-sidebar-toggle a:hover:after {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg6"] li a {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg6"] li a:hover,
.hoe-right-header[hoe-color-type="header-bg6"] li a:focus {
    background: #554378;
}
.hoe-right-header[hoe-color-type="header-bg6"] .theme-config a {
    border-left: 1px solid #6b598e;
}
/*Header color with theme color bg6  Close*/

/*Header color with theme color bg7  Start*/

.hoe-right-header[hoe-color-type="header-bg7"] {
    background: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg7"] a i {
    color: #7e7e7e;
}
.hoe-right-header[hoe-color-type="header-bg7"] a:hover i {
    color: #7e7e7e;
}
.hoe-right-header[hoe-color-type="header-bg7"] .hoe-sidebar-toggle a:after {
    border: 0px solid #efefef;
    color: #7e7e7e;
}
.hoe-right-header[hoe-color-type="header-bg7"] .hoe-sidebar-toggle a:hover:after {
    color: #7e7e7e;
}
.hoe-right-header[hoe-color-type="header-bg7"] li a {
    color: #7e7e7e;
}
.hoe-right-header[hoe-color-type="header-bg7"] li a:hover,
.hoe-right-header[hoe-color-type="header-bg7"] li a:focus {
    background: #f1f1f1;
}
.hoe-right-header[hoe-color-type="header-bg7"] .theme-config a {
    border-left: 1px solid #efefef;
}
/*Header color with theme color bg7  Close*/

/*Header color with theme color bg8  Start*/

.hoe-right-header[hoe-color-type="header-bg8"] {
    background: #384b5f;
}
.hoe-right-header[hoe-color-type="header-bg8"] a i {
    color: #cecece;
}
.hoe-right-header[hoe-color-type="header-bg8"] a:hover i {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg8"] .hoe-sidebar-toggle a:after {
    background: transparent;
    border: 0px solid #455769;
    color: #cecece;
}
.hoe-right-header[hoe-color-type="header-bg8"] .hoe-sidebar-toggle a:hover:after {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg8"] li a {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg8"] li a:hover,
.hoe-right-header[hoe-color-type="header-bg8"] li a:focus {
    background: #2c3e50;
}
.hoe-right-header[hoe-color-type="header-bg8"] .theme-config a {
    border-left: 1px solid #455769;
}
/*Header color with theme color bg8  Close*/

/*Header color with theme color bg9  Start*/

.hoe-right-header[hoe-color-type="header-bg9"] {
    background: #578ebe;
}
.hoe-right-header[hoe-color-type="header-bg9"] a i {
    color: #185b96;
}
.hoe-right-header[hoe-color-type="header-bg9"] a:hover i {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg9"] .hoe-sidebar-toggle a:after {
    background: transparent;
    border: 0px solid #5d99cd;
    color: #185b96;
}
.hoe-right-header[hoe-color-type="header-bg9"] .hoe-sidebar-toggle a:hover:after {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg9"] li a {
    color: #FFF;
}
.hoe-right-header[hoe-color-type="header-bg9"] li a:hover,
.hoe-right-header[hoe-color-type="header-bg9"] li a:focus {
    background: #4884b8;
}
.hoe-right-header[hoe-color-type="header-bg9"] .theme-config a {
    border-left: 1px solid #5d99cd;
}
/*Header color with theme color bg9  Close*/

