[Unit]
Description=Eskimo Kubernetes Slave Infrastructure
Documentation=https://www.eskimo.sh
Wants=network-online.target
After=network-online.target
Wants=etcd.service


[Service]
Type=simple
TimeoutStartSec=300sec
RemainAfterExit=false
WorkingDirectory=/var/lib/kubelet
ExecStartPre=-/bin/bash /usr/local/sbin/stop-k8s-slave.sh
ExecStart=/bin/bash /usr/local/sbin/start-k8s-slave.sh
ExecStop=/bin/bash /usr/local/sbin/stop-k8s-slave.sh
LimitNOFILE=65536
RestartSec=5
Restart=always
StartLimitBurst=3
StartLimitInterval=120

[Install]
WantedBy=multi-user.target
