[Unit]
Description=Eskimo Kubernetes Slave Infrastructure
Documentation=https://www.eskimo.sh
Wants=network-online.target
After=network-online.target
Wants=etcd.service
# TODO not for now
#Requires=flannel.service


[Service]
Type=simple
TimeoutStartSec=300sec
RemainAfterExit=false
ExecStartPre=/bin/bash /etc/k8s/runtime_config/setup-runtime-kubectl.sh
ExecStart=/usr/local/sbin/run-k8s-slave.sh
ExecStartPost=/bin/bash /etc/k8s/runtime_config/setup-runtime-kubectl-poststart.sh
RestartSec=5
Restart=always
StartLimitBurst=6
StartLimitInterval=100

[Install]
WantedBy=multi-user.target
