[Unit]
Description=etcd Server
After=network.target
After=network-online.target
Wants=network-online.target
PartOf=k8s-slave.service

[Service]
Type=simple
TimeoutStartSec=300sec
RemainAfterExit=false
User=kubernetes
WorkingDirectory=/var/lib/etcd/
ExecStart=/bin/bash -c ". /etc/k8s/etcd.env.sh && /usr/local/bin/etcd \
  --name $ESKIMO_ETCD_NODE_NAME \
  --initial-advertise-peer-urls $EKIMO_ETCD_INITIAL_ADVERTISE_PEER_URLS \
  --listen-peer-urls $EKIMO_ETCD_LISTEN_PEER_URLS \
  --listen-client-urls $EKIMO_ETCD_LISTEN_CLIENT_URLS \
  --advertise-client-urls $EKIMO_ETCD_ADVERTISE_CLIENT_URLS \
  --initial-cluster-token $EKIMO_ETCD_INITIAL_CLUSTER_TOKEN \
  --initial-cluster $EKIMO_ETCD_INITIAL_CLUSTER \
  --initial-cluster-state $EKIMO_ETCD_INITIAL_CLUSTER_STATE \
  --data-dir $EKIMO_ETCD_DATA_DIR"

# The day I enable HTTPS
#  --cert-file $EKIMO_ETCD_CERT_FILE \
#  --key-file $EKIMO_ETCD_KEY_FILE \
#  --client-cert-auth=$EKIMO_ETCD_CLIENT_CERT_AUTH \
#  --trusted-ca-file $EKIMO_ETCD_TRUSTED_CA_FILE \
#  --peer-cert-file=$EKIMO_ETCD_PEER_CERT_FILE \
#  --peer-key-file=$EKIMO_ETCD_PEER_KEY_FILE \
#  --peer-client-cert-auth=$EKIMO_ETCD_PEER_CLIENT_CERT_AUTH \
#  --peer-trusted-ca-file=$EKIMO_ETCD_PEER_TRUSTED_CA_FILE \

RestartSec=5
LimitNOFILE=65536
Restart=always
StartLimitBurst=6
StartLimitInterval=100

[Install]
WantedBy=multi-user.target
RequiredBy=k8s-slave.service