[Unit]
Description=Kubernetes Scheduler
Documentation=https://www.eskimo.sh
After=network.target
After=etcd.service
After=kubeapi.service
After=kubectrl.service
PartOf=k8s-master.service

[Service]

ExecStart=/bin/bash -c ". /etc/k8s/kubesched.env.sh && /usr/local/bin/kube-scheduler \
   --address=$ESKIMO_KUBE_SCHED_BIND_ADDRESS \
   --master $ESKIMO_KUBE_SCHED_API_SERVER_MASTER \
   --leader-elect=$ESKIMO_KUBE_SCHED_LEADER_ELECT \
   --kubeconfig=/etc/k8s/kubesched.kubeconfig \
   --v=$ESKIMO_KUBE_LOG_LEVEL"

Type=simple
Restart=always
StartLimitBurst=4
StartLimitInterval=100
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
RequiredBy=k8s-master.service