[Unit]
Description=Eskimo Kubernetes Master Infrastructure
Documentation=https://www.eskimo.sh
Wants=network-online.target
After=network-online.target
Wants=etcd.service

[Service]
Type=simple
TimeoutStartSec=300sec
RemainAfterExit=false
ExecStartPre=-/bin/bash /usr/local/sbin/stop-kube-master.sh
ExecStart=/bin/bash /usr/local/sbin/start-kube-master.sh
ExecStop=/bin/bash /usr/local/sbin/stop-kube-master.sh
LimitNOFILE=65536
RestartSec=5
Restart=always
StartLimitBurst=3
StartLimitInterval=120

[Install]
WantedBy=multi-user.target
