[Unit]
Description=Eskimo Kubernetes Master Infrastructure
Documentation=https://www.eskimo.sh
Wants=network-online.target
After=network-online.target
Wants=etcd.service
# TODO not for now
#Requires=flannel.service

[Service]
Type=simple
TimeoutStartSec=300sec
RemainAfterExit=false
ExecStart=/usr/local/sbin/run-k8s-master.sh
RestartSec=5
Restart=always
StartLimitBurst=6
StartLimitInterval=100

[Install]
WantedBy=multi-user.target
